.home {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 3.3em;
  opacity: .8;
  position: absolute;
  left: 20px;
}

.readme {
  font-family: 'Raleway', sans-serif;
  color: white;
  position: absolute;
  right: 50px;
  cursor: pointer;
  z-index: 100;
}

.mic {
  color: white;
  position: absolute;
  right: 60px;
  bottom: 50px;
  cursor: pointer;
  z-index: 100;
}

#waves {
  position: fixed;
}

/* red/orange background gradient
/*.bg {
  background: -webkit-linear-gradient(90deg, #d64759 10%, #da7352 90%); 
  background: -o-linear-gradient(90deg, #d64759 10%, #da7352 90%); 
  background: linear-gradient(90deg, #d64759 10%, #da7352 90%);
}*/

/* black/green background gradient
/*.bg {
  background: -webkit-linear-gradient(90deg, #001510, #00bf8f); 
  background: -moz-linear-gradient(90deg, #001510, #00bf8f); 
  background: linear-gradient(90deg, #001510, #00bf8f);
}*/

/* light blue/dark blue background gradient */
.bg {
  background: #1A2980;
  background: -webkit-linear-gradient(to left, #1A2980 , #26D0CE);
  background: linear-gradient(to left, #1A2980 , #26D0CE);
}