.home {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 3em;
  opacity: .8;
  position: absolute;
}

.readme {
  font-family: 'Raleway', sans-serif;
  color: white;
  position: absolute;
  right: 50px;
  cursor: pointer;
  z-index: 100;
}

#waves {
  position: fixed;
}

.bg {
  background: #1A2980;
  background: -webkit-linear-gradient(to left, #1A2980 , #26D0CE);
  background: linear-gradient(to left, #1A2980 , #26D0CE);
}