.home {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 3.3em;
  opacity: .8;
  position: absolute;
  left: 20px;
}

.readme {
  font-family: 'Raleway', sans-serif;
  color: white;
  position: absolute;
  right: 50px;
  cursor: pointer;
  z-index: 100;
}

.mic {
  color: white;
  position: absolute;
  right: 60px;
  bottom: 50px;
  cursor: pointer;
  z-index: 100;
}

#waves {
  position: fixed;
}

/*.bg {
  background: -webkit-linear-gradient(90deg, #1D4350, #c2e59c);
  background: -moz-linear-gradient(90deg, #1D4350, #c2e59c); 
  background: linear-gradient(90deg, #1D4350, #c2e59c);
}*/

/*.bg {
  background: -webkit-linear-gradient(90deg, #001510, #00bf8f); 
  background: -moz-linear-gradient(90deg, #001510, #00bf8f); 
  background: linear-gradient(90deg, #001510, #00bf8f);
}*/

.bg {
  background: #1A2980;
  background: -webkit-linear-gradient(to left, #1A2980 , #26D0CE);
  background: linear-gradient(to left, #1A2980 , #26D0CE);
}